image: docker:20.10.18
services:
  - docker:20.10.18-dind

variables:
  IMAGE_NAME: alpalasaul/spring-k8s-dev
  IMAGE_TAG: v2
  REGISTRY: registry.gitlab.com

stages:
  - build-app
  - build-registry
  - deploy

build-app:
  stage: build-app
  image: openjdk:11
  script:
    - echo "Empaquetando app..."
    - sh ./gradlew clean build
  artifacts:
    paths:
      - build/libs/*.jar
    expire_in: 3 days
  only:
    refs:
      - master

build-registry:
  stage: build-registry
#  services:
#    - name: docker:20.10.18-dind
#      alias: dockerhost
#  variables:
#    DOCKER_TLS_CERTDIR: ""
#    DOCKER_DRIVER: overlay2
#    DOCKER_HOST: "tcp://dockerhost:2375/"
  before_script:
    - echo "Login on Gitlab Container Registry..."
    - docker login -u $CI_DEPLOY_USER -p $CI_DEPLOY_PASSWORD $CI_REGISTRY
    - echo "Successfully logged"
  script:
    - docker build -t $REGISTRY/$IMAGE_NAME:$IMAGE_TAG .
    - docker push $REGISTRY/$IMAGE_NAME:$IMAGE_TAG

deploy:
  stage: deploy
  environment: production
  script:
    - echo "Deploying application..."
    - echo "Application successfully deployed."
    - kubectl get pods
    - echo "Bye Stranger :)"
  only:
    refs:
      - master